body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:12px;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
	overflow: hidden;
	background-color: black;
}

canvas {
	height: 79vh;
	width: auto;
}

#background {
	position: absolute;
	top: 0;
	z-index: -2;
}

#playfield {
	z-index: -1;
}

.hidden {
	display: none;
}

.buttons {
	position: absolute;
	top: 0;
}

.UI {
	font-weight: bold;
	font-size: 34px;
	color: white;
}

button {
	margin: 0 0.4cm;
	border-width: 2px;
	border-radius: 10px;
	height: 6vh;
	width: 9vh;
	background-color: black;
	font-weight: inherit;
	color: inherit;
}

p {
	font-weight: inherit;
	color: inherit;
}

#start_btn {
	position: absolute;
	top: 40vh;
	left: center;
}
#scoreboard { 
  position: absolute; 
  background: rgba(0,0,0,0.3); 
  border-radius: 0.3em; 
  visibility:hidden; 
  overflow:hidden; 
  max-height:0; 
  opacity:0; 
  transition:opacity .2s ease-in,max-height .4s ease-in
  } 

#scoreboard.opened { 
  opacity: 1; 
  visibility: visible;
  max-height: 1000px 
  
}
/* webxdc-scores.js styles */ 
.score-row { 
  text-align: left;
  padding: 5px 10px;
  margin: 1% 6%; 
  border-radius: 0.3em;
  color: rgb(255,255,220);
  font-weight: bold;
  } 
  
.score-row.you { 
  color: #222;
  background: rgb(255,255,220); 
} 

.row-pos {
  float: left; 
  color: #595959;
  } 
  
.row-score {
  float: right; 
  display: inline-block;
  } 
  
.row-name { 
  text-overflow: ellipsis; 
  display: inline-block; 
  width: 65%; 
  overflow: hidden; 
  white-space: nowrap; 
}